[General]
# DEBUG, INFO, WARNING, ERROR
LoggingLevel = DEBUG
Logfile = /opt/SubSyncStarter/SubSyncStarter.log

[SubSync]
Location = /snap/bin/subsync
LoggingLevel = 1
Logfile = /opt/SubSyncStarter/subsync.log
Effort = 1
WindowSize = 300
MaxPointDistance = 1