[General]
# DEBUG, INFO, WARNING, ERROR
LoggingLevel = DEBUG
Logfile = /opt/SubSyncStarter/SubSyncStarter.log
BazarrApiKey = 123
BazarrUrl = http://192.168.1.10:6767

[SubSync]
Location = /snap/bin/subsync
LoggingLevel = 1
Logfile = /opt/SubSyncStarter/subsync.log
Effort = 1
WindowSize = 300
MaxPointDistance = 1